# Neshan Map Platform (https://platform.neshan.org)
# Web key (browser, used by map SDK for tiles)
NEXT_PUBLIC_NESHAN_API_KEY=
# Service key (browser, used for reverse-geocode and search APIs)
NEXT_PUBLIC_NESHAN_SERVICE_API_KEY=
